<div class="container-fluid">
    <h2>Update Contestant</h2>
</div>
<body>
<form>
    <label for="Contestant ID">Contestant Id:</label>
    <input type="text" placeholder="Enter ContestantID" id="Contestant ID" name="Contestant ID"><br><br>
    <label for="Aadhar">Aadhar Number:</label>
    <input type="number" placeholder="Enter Aadhar Number"id="Aadhar" name="Aadhar"><br><br>
    <label for="location">Voter Location:</label>
    <input type="text" placeholder="Enter Location" id="Location" name="Location"><br>
  </form>
  <button class="button">Update Contestant</button>
</body>
