<!DOCTYPE html>
    <html>        
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    </head>
    <body>
    
    <h2 style="text-align:center">Contestants List</h2>
    
    <table w3-container>
      <!-- <tr>
        <th>Contestant Name</th>
        <th>Party Logo</th>
        <th>Cast Vote</th>
      </tr> -->
      <tr>
        <td>
            <figure >
                <img src="../../assets/images/Jagan.png" alt="JAGANMOHAN">
                <figcaption>Y S JAGANMOHAN REDDY<br>(YSRCP)</figcaption>
              </figure>         
            </td>
          <td> <img class="imgSize" src= "../../assets/images/YSRCP-logo.jpg"></td>        
          <td class="btnCenter">
              <button class="btn">Vote</button>  
        </td>
      </tr>
      <tr>
        <td>
            <figure >
                <img  class="imgStyle" src="../../assets/images/BJP-leader.jpg" alt="Sommu Veerraju">
                <figcaption>Sommu Veerraju<br>( Bharatiya Janata Party)</figcaption>
              </figure> 
            
            </td>
          <td> <img class="imgSize" src= "../../assets/images/BJP-logo.jpg"></td>        
          <td class="btnCenter">
              <button class="btn">Vote</button>  
        </td>
      </tr>
      <tr>
          <td>
              <figure>
                  <img src="../../assets/images/N.ChandraBabu.png" alt="Chandrababu">
                  <figcaption>N.Chandrababu Naidu<br>(Telugu Desam Party)</figcaption>
                </figure>           
              </td>
            <td> <img class="imgSize" src= "../../assets/images/TDP.png"></td>        
            <td class="btnCenter">
                <button class="btn">Vote</button>  
          </td>
        </tr>
        <tr>
          <td>
            <figure>
                <img src="../../assets/images/KCR.png" alt="KCR" class="imgStyle">
                <figcaption>K.Chandrashekar Rao<br>(Telangana Rashtra Samithi)</figcaption>
              </figure>
            </td>  
            
              <td> <img class="imgSize" src= "../../assets/images/TRS.jpg"></td>        
              <td class="btnCenter">
                  <button class="btn">Vote</button>  
            </td>
          </tr>
          <tr>
              <td>
                <figure>
                    <img src="../../assets/images/Pawan.jpg" alt="Pawan Kalyan" class="imgStyle">
                    <figcaption>Pawan Kalyan<br>(Janasena Party)</figcaption>
                  </figure>
                </td>  
                
                  <td> <img class="imgSize" src= "../../assets/images/janasena.png"></td>        
                  <td class="btnCenter">
                      <button class="btn">Vote</button>  
                </td>
              </tr>
      
    </table>
    
    </body>
    </html>
    