<!-- <div class="container-fluid">
    <h2>Admin Page</h2>
</div>
<nav class="nav">
    <ul> 
        <li class="nav-item">
            <a class="nav-link" routerLink="/DeleteContestant">DeleteContestant</a> </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/UpdateContestant">UpdateContestant</a></li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/UpdateVoter">UpdateVoter</a></li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/AdminLogin">AdminLogin</a></li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/ViewVoters">ViewVoters</a></li>
    </ul>
</nav> -->